CommonLib/CommonLib/RMarketWSO/RMarketWSO/Service References/FacilitySearchService/LoanReferenceDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://markit.com/Markit/LoanReferenceData/2015/12" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanReferenceDataService" targetNamespace="http://markit.com/Markit/LoanReferenceData/2015/12" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="FacilitySearchServicePort_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://markit.com/Markit/LoanReferenceData/2015/12/Imports">
      <xsd:import schemaLocation="http://loanreferencedata.markit.com/LoanReferenceData/2015/12/FacilitySearch.svc?xsd=xsd0" namespace="http://markit.com/Markit/LoanReferenceData/2015/12" />
      <xsd:import schemaLocation="http://loanreferencedata.markit.com/LoanReferenceData/2015/12/FacilitySearch.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://loanreferencedata.markit.com/LoanReferenceData/2015/12/FacilitySearch.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetFacilityBySecurityIdRequest">
    <wsdl:part name="parameters" element="tns:GetFacilityBySecurityIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetFacilityResponse">
    <wsdl:part name="parameters" element="tns:GetFacilityResponse" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetFacilityBySecurityId_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetAvailableFacilities_InputMessage" />
  <wsdl:message name="GetAvailableFacilitiesResponse">
    <wsdl:part name="parameters" element="tns:GetAvailableFacilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetAvailableFacilities_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:message name="GetAmortByFacilityIdRequest">
    <wsdl:part name="parameters" element="tns:GetAmortByFacilityIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetAmortByFacilityIdResponse">
    <wsdl:part name="parameters" element="tns:GetAmortByFacilityIdResponse" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetAmortizationByFacilityId_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:message name="GetCreditDocumentBySecurityIdRequest">
    <wsdl:part name="parameters" element="tns:GetCreditDocumentBySecurityIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetCreditDocumentBySecurityIdResponse">
    <wsdl:part name="parameters" element="tns:GetCreditDocumentBySecurityIdResponse" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetCreditDocumentBySecurityId_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:message name="GetCreditDocumentByIdRequest">
    <wsdl:part name="parameters" element="tns:GetCreditDocumentByIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetCreditDocumentByIdResponse">
    <wsdl:part name="parameters" element="tns:GetCreditDocumentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetCreditDocumentById_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:message name="GetFacilityCreditDocumentBySecurityIdRequest">
    <wsdl:part name="parameters" element="tns:GetFacilityCreditDocumentBySecurityIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetFacilityCreditDocumentResponse">
    <wsdl:part name="parameters" element="tns:GetFacilityCreditDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetFacilityCreditDocuments_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetAvailableCreditDocumentFacilities_InputMessage" />
  <wsdl:message name="GetAvailableCreditDocumentFacilitiesResponse">
    <wsdl:part name="parameters" element="tns:GetAvailableCreditDocumentFacilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetAvailableCreditDocumentFacilities_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:message name="GetCovenantLiteBySecurityIdRequest">
    <wsdl:part name="parameters" element="tns:GetCovenantLiteBySecurityIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetCovenantLiteResponse">
    <wsdl:part name="parameters" element="tns:GetCovenantLiteResponse" />
  </wsdl:message>
  <wsdl:message name="FacilitySearchService_GetCovenantLiteBySecurityId_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="FacilitySearchService">
    <wsdl:operation name="GetFacilityBySecurityId">
      <wsdl:input wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/GetFacilityBySecurityId" name="GetFacilityBySecurityIdRequest" message="tns:GetFacilityBySecurityIdRequest" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetFacilityBySecurityIdResponse" name="GetFacilityResponse" message="tns:GetFacilityResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetFacilityBySecurityIdGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:FacilitySearchService_GetFacilityBySecurityId_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFacilities">
      <wsdl:input wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/GetAvailableFacilities" message="tns:FacilitySearchService_GetAvailableFacilities_InputMessage" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetAvailableFacilitiesResponse" name="GetAvailableFacilitiesResponse" message="tns:GetAvailableFacilitiesResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetAvailableFacilitiesGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:FacilitySearchService_GetAvailableFacilities_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmortizationByFacilityId">
      <wsdl:input wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/GetAmortizationByFacilityId" name="GetAmortByFacilityIdRequest" message="tns:GetAmortByFacilityIdRequest" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetAmortizationByFacilityIdResponse" name="GetAmortByFacilityIdResponse" message="tns:GetAmortByFacilityIdResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetAmortizationByFacilityIdGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:FacilitySearchService_GetAmortizationByFacilityId_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditDocumentBySecurityId">
      <wsdl:input wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/GetCreditDocumentBySecurityId" name="GetCreditDocumentBySecurityIdRequest" message="tns:GetCreditDocumentBySecurityIdRequest" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetCreditDocumentBySecurityIdResponse" name="GetCreditDocumentBySecurityIdResponse" message="tns:GetCreditDocumentBySecurityIdResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetCreditDocumentBySecurityIdGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:FacilitySearchService_GetCreditDocumentBySecurityId_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditDocumentById">
      <wsdl:input wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/GetCreditDocumentById" name="GetCreditDocumentByIdRequest" message="tns:GetCreditDocumentByIdRequest" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetCreditDocumentByIdResponse" name="GetCreditDocumentByIdResponse" message="tns:GetCreditDocumentByIdResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetCreditDocumentByIdGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:FacilitySearchService_GetCreditDocumentById_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacilityCreditDocuments">
      <wsdl:input wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/GetFacilityCreditDocuments" name="GetFacilityCreditDocumentBySecurityIdRequest" message="tns:GetFacilityCreditDocumentBySecurityIdRequest" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetFacilityCreditDocumentsResponse" name="GetFacilityCreditDocumentResponse" message="tns:GetFacilityCreditDocumentResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetFacilityCreditDocumentsGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:FacilitySearchService_GetFacilityCreditDocuments_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditDocumentFacilities">
      <wsdl:input wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/GetAvailableCreditDocumentFacilities" message="tns:FacilitySearchService_GetAvailableCreditDocumentFacilities_InputMessage" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetAvailableCreditDocumentFacilitiesResponse" name="GetAvailableCreditDocumentFacilitiesResponse" message="tns:GetAvailableCreditDocumentFacilitiesResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetAvailableCreditDocumentFacilitiesGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:FacilitySearchService_GetAvailableCreditDocumentFacilities_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCovenantLiteBySecurityId">
      <wsdl:input wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/GetCovenantLiteBySecurityId" name="GetCovenantLiteBySecurityIdRequest" message="tns:GetCovenantLiteBySecurityIdRequest" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetCovenantLiteBySecurityIdResponse" name="GetCovenantLiteResponse" message="tns:GetCovenantLiteResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/LoanReferenceData/2015/12/FacilitySearchService/GetCovenantLiteBySecurityIdGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:FacilitySearchService_GetCovenantLiteBySecurityId_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacilitySearchServicePort" type="tns:FacilitySearchService">
    <wsp:PolicyReference URI="#FacilitySearchServicePort_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFacilityBySecurityId">
      <soap:operation soapAction="http://markit.com/Markit/LoanReferenceData/2015/12/GetFacilityBySecurityId" style="document" />
      <wsdl:input name="GetFacilityBySecurityIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetFacilityResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFacilities">
      <soap:operation soapAction="http://markit.com/Markit/LoanReferenceData/2015/12/GetAvailableFacilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAvailableFacilitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAmortizationByFacilityId">
      <soap:operation soapAction="http://markit.com/Markit/LoanReferenceData/2015/12/GetAmortizationByFacilityId" style="document" />
      <wsdl:input name="GetAmortByFacilityIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAmortByFacilityIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCreditDocumentBySecurityId">
      <soap:operation soapAction="http://markit.com/Markit/LoanReferenceData/2015/12/GetCreditDocumentBySecurityId" style="document" />
      <wsdl:input name="GetCreditDocumentBySecurityIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCreditDocumentBySecurityIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCreditDocumentById">
      <soap:operation soapAction="http://markit.com/Markit/LoanReferenceData/2015/12/GetCreditDocumentById" style="document" />
      <wsdl:input name="GetCreditDocumentByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCreditDocumentByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFacilityCreditDocuments">
      <soap:operation soapAction="http://markit.com/Markit/LoanReferenceData/2015/12/GetFacilityCreditDocuments" style="document" />
      <wsdl:input name="GetFacilityCreditDocumentBySecurityIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetFacilityCreditDocumentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditDocumentFacilities">
      <soap:operation soapAction="http://markit.com/Markit/LoanReferenceData/2015/12/GetAvailableCreditDocumentFacilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAvailableCreditDocumentFacilitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCovenantLiteBySecurityId">
      <soap:operation soapAction="http://markit.com/Markit/LoanReferenceData/2015/12/GetCovenantLiteBySecurityId" style="document" />
      <wsdl:input name="GetCovenantLiteBySecurityIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCovenantLiteResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanReferenceDataService">
    <wsdl:port name="FacilitySearchServicePort" binding="tns:FacilitySearchServicePort">
      <soap:address location="http://loanreferencedata.markit.com/LoanReferenceData/2015/12/FacilitySearch.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>