CommonUI/CommonUI/CommonTaskManagerUI/Service References/ServiceReference1/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/com.ivp.rad.RCTMUtils" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chainId" type="xs:int" />
        <xs:element minOccurs="0" name="isservice" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TriggerChainResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerTaskInChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chainId" type="xs:int" />
        <xs:element minOccurs="0" name="FlowId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerSingleTaskInChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chainId" type="xs:int" />
        <xs:element minOccurs="0" name="FlowId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaskCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/com.ivp.rad.RCTMUtils" minOccurs="0" name="taskInfo" nillable="true" type="q1:TaskInfo" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="triggerTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/com.ivp.rad.RCTMUtils" minOccurs="0" name="taskInfo" nillable="true" type="q2:TaskInfo" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>