CommonLib/CommonLib/RVendorAPI/Service References/BBFTPServiceLayer/BBGFTPService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/com.ivp.srm.bbgftpservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/com.ivp.srm.bbgftpservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SMFTPFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="VendorPreferenceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMFTPFileInfo" nillable="true" type="tns:SMFTPFileInfo" />
</xs:schema>