CommonLib/CommonLib/RMarketWSO/RMarketWSO/Service References/GAMService/GamService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://markit.com/Markit/GAM/2012/05" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GamService" targetNamespace="http://markit.com/Markit/GAM/2012/05" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="FacilitySearchServicePort_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://markit.com/Markit/GAM/2012/05/Imports">
      <xsd:import schemaLocation="http://datadownload.wsostage.com/GlobalAssetManagement/2012/05/GAM.svc?xsd=xsd0" namespace="http://markit.com/Markit/GAM/2012/05" />
      <xsd:import schemaLocation="http://datadownload.wsostage.com/GlobalAssetManagement/2012/05/GAM.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://datadownload.wsostage.com/GlobalAssetManagement/2012/05/GAM.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FacilitySubscribeRequest">
    <wsdl:part name="parameters" element="tns:FacilitySubscribeRequest" />
  </wsdl:message>
  <wsdl:message name="FacilitySubscribeResponse">
    <wsdl:part name="parameters" element="tns:FacilitySubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="GamService_FacilitySubscribe_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:message name="FacilityUnsubscribeRequest">
    <wsdl:part name="parameters" element="tns:FacilityUnsubscribeRequest" />
  </wsdl:message>
  <wsdl:message name="FacilityUnsubscribeResponse">
    <wsdl:part name="parameters" element="tns:FacilityUnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="GamService_FacilityUnsubscribe_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:message name="GamService_GetAllSubscribed_InputMessage" />
  <wsdl:message name="FacilitiesGetAllSubscribedResponse">
    <wsdl:part name="parameters" element="tns:FacilitiesGetAllSubscribedResponse" />
  </wsdl:message>
  <wsdl:message name="GamService_GetAllSubscribed_GeneralServiceFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:GeneralServiceFault" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="GamService">
    <wsdl:operation name="FacilitySubscribe">
      <wsdl:input wsaw:Action="http://markit.com/Markit/GAM/2012/05/FacilitySubscribe" name="FacilitySubscribeRequest" message="tns:FacilitySubscribeRequest" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/GAM/2012/05/GamService/FacilitySubscribeResponse" name="FacilitySubscribeResponse" message="tns:FacilitySubscribeResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/GAM/2012/05/GamService/FacilitySubscribeGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:GamService_FacilitySubscribe_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FacilityUnsubscribe">
      <wsdl:input wsaw:Action="http://markit.com/Markit/GAM/2012/05/FacilityUnsubscribe" name="FacilityUnsubscribeRequest" message="tns:FacilityUnsubscribeRequest" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/GAM/2012/05/GamService/FacilityUnsubscribeResponse" name="FacilityUnsubscribeResponse" message="tns:FacilityUnsubscribeResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/GAM/2012/05/GamService/FacilityUnsubscribeGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:GamService_FacilityUnsubscribe_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubscribed">
      <wsdl:input wsaw:Action="http://markit.com/Markit/GAM/2012/05/GetAllSubscribed" message="tns:GamService_GetAllSubscribed_InputMessage" />
      <wsdl:output wsaw:Action="http://markit.com/Markit/GAM/2012/05/GamService/GetAllSubscribedResponse" name="FacilitiesGetAllSubscribedResponse" message="tns:FacilitiesGetAllSubscribedResponse" />
      <wsdl:fault wsaw:Action="http://markit.com/Markit/GAM/2012/05/GamService/GetAllSubscribedGeneralServiceFaultFault" name="GeneralServiceFaultFault" message="tns:GamService_GetAllSubscribed_GeneralServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacilitySearchServicePort" type="tns:GamService">
    <wsp:PolicyReference URI="#FacilitySearchServicePort_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FacilitySubscribe">
      <soap:operation soapAction="http://markit.com/Markit/GAM/2012/05/FacilitySubscribe" style="document" />
      <wsdl:input name="FacilitySubscribeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FacilitySubscribeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FacilityUnsubscribe">
      <soap:operation soapAction="http://markit.com/Markit/GAM/2012/05/FacilityUnsubscribe" style="document" />
      <wsdl:input name="FacilityUnsubscribeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FacilityUnsubscribeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubscribed">
      <soap:operation soapAction="http://markit.com/Markit/GAM/2012/05/GetAllSubscribed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FacilitiesGetAllSubscribedResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralServiceFaultFault">
        <soap:fault use="literal" name="GeneralServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GamService">
    <wsdl:port name="FacilitySearchServicePort" binding="tns:FacilitySearchServicePort">
      <soap:address location="http://datadownload.wsostage.com/GlobalAssetManagement/2012/05/GAM.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>