CommonLib/CommonLib/CommonTaskManagerClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CTMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICTMService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/com.ivp.rad.RCTMUtils" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICTMService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="ICTMService_TriggerChain_InputMessage">
    <wsdl:part name="parameters" element="tns:TriggerChain" />
  </wsdl:message>
  <wsdl:message name="ICTMService_TriggerChain_OutputMessage">
    <wsdl:part name="parameters" element="tns:TriggerChainResponse" />
  </wsdl:message>
  <wsdl:message name="ICTMService_TriggerTaskInChain_InputMessage">
    <wsdl:part name="parameters" element="tns:TriggerTaskInChain" />
  </wsdl:message>
  <wsdl:message name="ICTMService_TriggerSingleTaskInChain_InputMessage">
    <wsdl:part name="parameters" element="tns:TriggerSingleTaskInChain" />
  </wsdl:message>
  <wsdl:message name="ICTMService_TaskCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:TaskCompleted" />
  </wsdl:message>
  <wsdl:message name="ICTMService_isAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:isAlive" />
  </wsdl:message>
  <wsdl:message name="ICTMService_isAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAliveResponse" />
  </wsdl:message>
  <wsdl:message name="ICTMService_RemoveTaskFromRunningChains_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTaskFromRunningChains" />
  </wsdl:message>
  <wsdl:message name="ICTMService_GetSubscriberList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriberList" />
  </wsdl:message>
  <wsdl:message name="ICTMService_GetSubscriberList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriberListResponse" />
  </wsdl:message>
  <wsdl:message name="ICTMService_triggerTask_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:triggerTask" />
  </wsdl:message>
  <wsdl:message name="ICTMService_getSubscriberList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:getSubscriberList" />
  </wsdl:message>
  <wsdl:message name="ICTMService_getSubscriberList_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:getSubscriberListResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICTMService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTMService/RegisterClient" message="tns:ICTMService_RegisterClient_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TriggerChain">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTMService/TriggerChain" message="tns:ICTMService_TriggerChain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTMService/TriggerChainResponse" message="tns:ICTMService_TriggerChain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TriggerTaskInChain">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTMService/TriggerTaskInChain" message="tns:ICTMService_TriggerTaskInChain_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TriggerSingleTaskInChain">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTMService/TriggerSingleTaskInChain" message="tns:ICTMService_TriggerSingleTaskInChain_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TaskCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTMService/TaskCompleted" message="tns:ICTMService_TaskCompleted_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="isAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTMService/isAlive" message="tns:ICTMService_isAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTMService/isAliveResponse" message="tns:ICTMService_isAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveTaskFromRunningChains">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTMService/RemoveTaskFromRunningChains" message="tns:ICTMService_RemoveTaskFromRunningChains_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSubscriberList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTMService/GetSubscriberList" message="tns:ICTMService_GetSubscriberList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTMService/GetSubscriberListResponse" message="tns:ICTMService_GetSubscriberList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="triggerTask">
      <wsdl:output wsaw:Action="http://tempuri.org/ICTMService/triggerTask" message="tns:ICTMService_triggerTask_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getSubscriberList">
      <wsdl:output wsaw:Action="http://tempuri.org/ICTMService/getSubscriberList" message="tns:ICTMService_getSubscriberList_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ICTMService/getSubscriberListResponse" message="tns:ICTMService_getSubscriberList_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICTMService" type="tns:ICTMService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICTMService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TriggerChain">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/TriggerChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriggerTaskInChain">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/TriggerTaskInChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TriggerSingleTaskInChain">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/TriggerSingleTaskInChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TaskCompleted">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/TaskCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="isAlive">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/isAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTaskFromRunningChains">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/RemoveTaskFromRunningChains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberList">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/GetSubscriberList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="triggerTask">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/triggerTask" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscriberList">
      <soap12:operation soapAction="http://tempuri.org/ICTMService/getSubscriberList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTMService">
    <wsdl:port name="NetTcpBinding_ICTMService" binding="tns:NetTcpBinding_ICTMService">
      <soap12:address location="net.tcp://localhost:8182/CTMService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8182/CTMService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/WS-UBeri.ivp.co.in</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>